<% if current_user %>
        <script>
          window.current_user = {
            "email" : "<%=current_user.email  %>"
          
          };
        </script>
      <% end %>

<div id='root'></div>


