// html{
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }

.show {
    display: block;
}

.clear{
    display: none;
}
.splash-logo{
    width: 250px;
}