// html{
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }
$main-font: Arial, Helvetica, sans-serif;
.clear{
    display: none;
}

.show {
    display: block;
}

.splash-logo{
    width: 250px;
}
