
.about-links{
    position: absolute;
    bottom: 0;
    background-color: #f0f0f0;  
    width: 100%;

}

.footer-links{
    display: flex;
    // border: 1px solid black;
    // flex-direction: column;
    // text-align: center;
  
}

.links-me{
    text-decoration: none;
    font-family: $main-font;
    display: flex;
    justify-content: center;
   
}

.app{
    position: relative;
    min-height: 110vh;
}

#about-images{
    width: 50px;
    height: 50px;
    // border: 1px solid black;
}