.business-show-container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.business-show-nav-bar{
    display: flex;
    padding-top: 2%;
    >form{
        > button{

            >img{
                height: 100%;
                width: 100%;
            }
        }

    }
    .dropdown-container{
        height: 40px;
        width: 40px;
        padding-left: 160px;
        z-index: 10;
        .dropdown-button{
            height: 35px;
            > img{
                height: 100%;

            }
        
        }
    }
}
.business-show-buttons{
    padding-left: 10%;
    a{
        width: 200%;
        height: 200%;
    }
    >*{
        text-decoration: none;
    }
    > :first-child {
        color: black;
        border: 1px solid grey;
        border-radius: 3px;
    }
    > :last-child{
        color: white;
        background-color: red;
        border: 1px solid red;
        border-radius: 3px;
    }
}

// business show container
.business-show-photo-slider-container{
    width: 100%;
    height: 500px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.business-show-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: $main-font;
    margin-top: 14%;
    margin-left: 5%;
    
    > h1{
        color: white;
        font-weight: bold;
        font-size: 64px;
        font-family: $main-font;
        
        
    }
    >div{
        color: white;
        font-family: $main-font;
        font-size: 22px;
    }
  
    
}
.photo-slider{
    display: flex;
    width: 80%;
    padding-top: 3%;
    > img {
        filter: brightness(80%);
        width: 33%;
    }
}




.location-and-hours{
    display: flex;
}

.hours-container{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  
}

.search-bar{
    position: absolute;
    left: 25%;
    width: 60%;
    outline: none;

}

.business-show-search-bar{
    display: flex;
}
.business-show-name{
    white-space: nowrap;
}
.write-review-container{
    width: 50%;
    height: 100px;
    border-bottom: 1px solid lightgray;
    padding-left: 3%;
    padding-bottom: 1%;
    > *{
        margin-top: 5%;
        margin-left: 3%;
        color: white;
        border: 1px solid red;
        background-color: red;
        font-family: $main-font;
        font-weight: bold;
        font-size: 17px;
        height: 40px;
        width: 170px;
    }
}
.business-show-review-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    // border: 1px solid grey;
    margin-left: 10%;
}
.location-title{
    padding-top: 3%;
    font-size: 20px;
    font-weight: bold;
    font-family: $main-font;
}
.location-and-hours{
    padding-top: 2%;
    // border-bottom: 1px solid gray;
    padding-bottom: 2%;
}

.business-show-info-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 150px;
    width: 220px;
    height: 365px;
    padding-top: 5%;
    align-content: center;
    justify-content: space-between;
   >img {
        width: 20px;
        display: flex;
        position: absolute;
        right: 0;
    }
}
.hours-container{
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    font-size: 16px;
    font-weight: bold;
}
.right-business-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.business-website{
    display: flex;
    justify-content: space-between;
    color: blue;
}
.business-phone-number{
    display: flex;
    justify-content: space-between;
}

.directions-title{
    display: flex;
    justify-content: space-between;

}

.business-address{
    display: flex;
    justify-content: space-between;
}

.right-business-container{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 245px;
    > div{
        padding-top: 1%;
        display: flex;
        // flex-direction: column;
        justify-content: space-evenly;

    }
}
.business-phone{
    margin-left: 80px;
    border-bottom: color rgba(139, 134, 134, 0.966) ;
}
.business-website-link{
    text-decoration: none;
    color: rgba(139, 134, 134, 0.966);
    
}

.website-photo{
    margin-left: 30px;
}
.directions-title{
    margin-right: 60%;
    white-space: nowrap;
    color: teal;
}
.business-address{
    color: rgba(139, 134, 134, 0.966);
}