
.login-pic{
    margin-top: 100px;
    margin-right: 100px;
}
.top-home-bar{
    background-color: red;
    display: flex;
    justify-content: center;
    .yep-logo{
        width: 250px;
    }

}

.login-form-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;  
    .or-divider{
        color: #333;
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        &before, &after {
            content:"";
            flex: 1 1;
            border-bottom: 2px solid #000;
            margin: auto;

        }
    }  
        
    .login1{
     
        color: #d32323;
        font-size: 22px;
        font-weight: bold;
    }

    .login2{
        font-size: 14px;
        padding-top: 5%;
        > *{
            text-decoration: none;
            font-weight: bold;
        }
    }

    .demo-user{
        padding-top: 5%;
        display: flex;
        justify-content: center;
        .demo-button{
            display: block;
            background-color: white;
            border-radius: 5px;
            border: 1px solid gray;
            color: rgb(61, 61, 226);
            font-size: 16px;
        }
    }
    .login-form{
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        > *{
            border: 1px solid gray;
            border-radius: 2px;
            
        }
        .login-button{
            background-color: red;
            color: white;
            height: 27.5px;
            font-weight: bold;
        }
        
    }
}

.or-divider{
    color: #333;
    padding-bottom: 5%;
    padding-top: 5%;
   
}
.login-errors{
    color: black;
    background-color: rgb(245, 190, 190);
    width: 80%;
    text-align: center;
    height: 25px;
    margin-left: 130px;
}



.have-user{
    font-size: 12px;
    >*{
        text-decoration: none;
    }
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 5%;

    > *{
        border: 1px solid gray;
        border-radius: 2px;                
    }
    
}

.signup-button-container{
    border-top: 5%;
    .signup-button{
        border-top: 5px;
        background-color: red;
        color: white;
        height: 27.5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        width: 100%;
    }
}

.login-form-container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.login-signup-container{
    display: flex;
    align-content: center;
}
.login-signup-button{
    text-decoration: none;
    font-size: 15px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.login-picture-form-container{
    display: flex;
    justify-content: space-evenly;
    .login-form-container{
        margin-top: 100px;
        margin-left: 100px;
        width: 20%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}


.signup-form-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

    .form-for-login{
        width: 20%;
        height: 200px;
    }
}

.signup-form-container{
    display: flex;
    justify-content: space-evenly;
    .or-divider{
        color: black;
        padding-top: 5%;
        padding-bottom: 5%;
        &before, &after {
            content:"";
            height: 1px;
            background-color: black;
            flex: 1;
        }
    }
    
    .form-for-login{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        // padding-top: 5%;
        .signup-form{
            padding-top: 10%;
            padding-bottom: 5%;
        }

        .or-divider{
            padding-top: 5%;
            padding-bottom: 5%;
        }
    
        .signup1{
            
            color: #d32323;
            font-size: 22px;
            font-weight: bold;
        }

        .signup2{
            padding-top: 5%;
            font-size: 14px;
            font-weight: bold;
        }
        .demo-user{
            padding-top: 5%;
            padding-bottom: 5%;
            display: flex;
            justify-content: center;
            .demo-button{
                display: block;
                background-color: white;
                border-radius: 5px;
                border: 1px solid gray;
                color: rgb(61, 61, 226);
                font-size: 16px;
            }
        }
      
    }
    
}