.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-links{
        display: flex;
        justify-content: space-between;

        .right-nav-bar{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

