.splash-container{

    .splash-image-container{
        display: flex;
        position: absolute;
        height: 600px;
        width: 100vw;

        .splash-background-image{
            height: auto;
            position: absolute;
            opacity: .1;
        }
    }

 
}