.splash-top-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.splash-businesses{
    display: flex;
    flex-direction: column;
}

.splash-business-title{
    font-size: 30px;
    font-family: $main-font;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 40%;
    bottom: 45%;

}
.san-jose-container{
    display: flex;
    justify-content: space-evenly;
    // margin-bottom: 100px;
    // align-self: flex-start;
    // position: absolute;
    
}
.sj-item{
    border: 1px solid lightgray;
    border-radius: 4px;
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.index-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.san-jose-link{
    display: flex;
    justify-content: center;
}
.app{
    position: relative;
    min-height: 80vh;
}

.yep-san-jose-container{
    height: 600px;
}

//splash
.splash-container{ 
    width: 100%;
    height: 400px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}


.search-bar-container{
    margin-left: 28%;

}

.background-image{
    opacity: .75;
    width: 100%;
    height: 75%;
}


.search-logo-container{
display: flex;
margin-top: 100px;
width: 60%;
flex-direction: column;
margin-left: 40%;
box-sizing: border-box;

}

.splash-container{ 
    width: 100%;
    height: 690px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    .splash-background-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;
        position: absolute;
        z-index: -1;     
        
  
    }
}

.right-nav-bar{
    // position: absolute;
    // display: flex;
    width: 150px;
}
.profile-pic{
    width: 40px;
}

.dropdown-marker{
    position: absolute;
    height: 40px;
    width: 30px;
    background-color: white;
    
}

.dropdown-container{
    position: relative;
    display: block;
    margin-right: 100px;
}
.dropdown-box{
    position: relative;
    // border: 1px solid green;
    width: 150px;
    height: 100px;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
}

.dropdown-container2{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 10;
    justify-content: space-evenly;
    align-content: center;
    > * {
        display: flex;
        flex-direction: column;
    
    }
    > span{
        cursor: pointer;
        color: blue;
    }
}

.dropdown-logout{
    border-top: 1px solid lightgray;
    background-color: white;
    color: blue;
    cursor: pointer;
    text-align: center;
    display: block;
  
}

.sj-item:hover{
    cursor: pointer;
}

.review-business-title{
    text-decoration: none;
    :hover{
        cursor: pointer;
    }
}

.san-jose-link{
    text-decoration: none;
}