
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
// CSS reset
@import "base/reset.css";

//  //Core
@import "base/base.scss";
//  //Components
@import "components/splash.scss";
@import 'components/nav-bar.scss';
@import 'components/login-signup-form.scss';
@import 'components/about.scss';
@import 'components/business_show.scss';
@import 'components/business.scss';




.title-reviews{
    font-size: 20px;
    font-family: $main-font;
    font-weight: bold;
    padding-bottom: 1%;
    border-bottom: 1px solid lightgray;
    width: 50%;
}

.review-list-container{
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 50%;
    height: 30%;
    
}

.review-form{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6%;
    // height: 200px;
}
.review-stars-link{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.review-profile{
    display: flex;
    justify-content: space-evenly;
    margin-right: 5%;
}

.review-item-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.review-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}