
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
// CSS reset
@import "base/reset.css";

//  //Core
@import "base/base.scss";
//  //Components
@import "components/splash.scss";
@import 'components/nav-bar.scss';
@import 'components/login-signup-form.scss';
@import 'components/about.scss';
@import 'components/business_show.scss';
@import 'components/business.scss';
@import 'components/review.scss';

.review-form-container{
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // height: 900px;
    margin-left: 20%;
}

.business-title{
    font-size: 28px;
    font-weight: bold;
    font-family: $main-font;
    padding-bottom: 2%;
}

.form-container-review{
    border-radius: 3px;
    width: 750px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.review-stars{
    padding-top: 5%;
    padding-left: 25px;
    padding-bottom: 5%;
}

textarea{
    resize: none;
    height: 370px;
    width: 675px;
    border: none;
    padding-bottom: 2%;
    outline: none;
    padding-left: 30px;
    font-size: 20px;
    font-family: $main-font;

   
}

.review-body::placeholder{
    // padding-top: 5%;
    color: lightgray;
    font-family: $main-font;
    font-size: 20px;
    // padding-left: 2%;
    position: absolute;
    padding-right: 30px;
}
.review-submit-button{
    // padding-top: 2%;
    position: absolute;
    border-radius: 3px;
    border: 1px solid red;
    color: white;
    background-color: red;
    height: 40px;
    width: 200px;
    font-family: $main-font;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.photo-box{
    position: absolute;
    margin-top: 20px;
    border: 1px solid lightgray;
}


.review-errors{
    font-size: 16px;
    color:  red;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-bottom: 3%;
    
}

//splash
.splash-top-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.splash-businesses{
    display: flex;
    flex-direction: column;
}

.splash-business-title{
    font-size: 30px;
    font-family: $main-font;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 40%;
    bottom: 50%;

}


