
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
// CSS reset
@import "base/reset.css";

//  //Core
@import "base/base.scss";
//  //Components
@import "components/splash.scss";
@import 'components/nav-bar.scss';
@import 'components/map.scss';
@import 'components/login-signup-form.scss';
@import 'components/about.scss';
@import 'components/business_show.scss';
@import 'components/business.scss';
@import 'components/review.scss';



//business index
.business-name:hover{
    text-decoration: underline;
}
.business-index-item{
    border-radius: 5px;
}

.business-index-item:hover{
    box-shadow: 2px 2px 2px 2px lightgray;
    cursor: pointer;
}
//business show
.right-business-container{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 245px;
    > div{
        padding-top: 1%;
        display: flex;
        // flex-direction: column;
        justify-content: space-evenly;

    }
}
.business-phone{
    margin-left: 80px;
    border-bottom: color rgba(139, 134, 134, 0.966) ;
}
.business-website-link{
    text-decoration: none;
    color: rgba(139, 134, 134, 0.966);
    
}

.website-photo{
    margin-left: 30px;
}
.directions-title{
    margin-right: 60%;
    white-space: nowrap;
    color: teal;
}
.business-address{
    color: rgba(139, 134, 134, 0.966);
}
//review
.review-button:hover{
    cursor: pointer;
}

.review-item{
    width: 50%
}
//splash
.sj-item:hover{
    cursor: pointer;
}

.review-business-title{
    text-decoration: none;
    :hover{
        cursor: pointer;
    }
}

.san-jose-link{
    text-decoration: none;
}



